---

---

<html lang="es">
	<head>
		
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
	</head>
	<body>
        <a href="/">Inicio</a>
        <a href="/about/">Sobre mi</a>
		<a href="/blog/">Blog</a>
        <h1>Mi Blog</h1>
        <h2>... Te contare todo acá!</h2>

        <h4>Mi experiencia con Astro</h4>
        <p>Mi viaje siguendo el tutorial de la documentación de Astro.</p>
        <p>Que estoy aprendiendo</p>
        <ul>
            <li>Descarcar dependencias <strong>pnpm create astro@latest</strong></li>
            <li>Archivo principal es <strong>scr/pages/index.astro</strong></li>
            <li>La carpete src/pages sirve como router cada archivo dentro de esta carpeta es una pagina.</li>
        </ul>
	</body>
</html>

