---
import BaseLayout from "../layouts/BaseLayout.astro";
const tituloPagina = "Yerri";
const skillColor = "darkblue";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout tituloPagina={tituloPagina} skillColor={skillColor} fontWeight={fontWeight} textCase={textCase}>
	<h2>Haber que pasa!!!</h2>
</BaseLayout>
