---
import Social from "./Social.astro";
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <!-- <p>Redes Sociales</p> -->

    <Social platform="github" username="yerridev"/>
    <Social platform="instagram" username="yerri.gg"/>
    <Social platform="facebook" username="Yerri Chilcon Ramirez"/>
</footer>

